{% extends "base.html" %}
{% block title %}Cursos{% endblock %}
{% block main %}

{% for c in cursos %} 
<div class="row d-flex justify-content-center mt-2 mb-4"> 
<div class="col-6">
<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">{{c.nombre}}</h5>
      <p class="card-text">{{c.desc}}</p>
      <a href="{% url 'GetCurso' c.id %}" class="btn btn-primary">Ver</a>
    </div>
    <div class="card-footer text-muted">
      Ultima modificación: {{c.last_update}}
    </div>
    </div>
  </div>
</div>


{% empty %} 
<div class="alert alert-primary" role="alert">
  No hay ningún curso cargado. 
  <a href="{% url 'CreateCurso' %}" class="btn-outline-primary">Crear Curso</a>
</div>
{% endfor %} 
{% endblock main %}